---
import { getCollection } from "astro:content";
import { Debug } from "astro:components";
import MenuDynamix from "./MenuDynamics.astro";
const ProductsCol = await getCollection('blogCollection');
---
<div id="cater-container" class="flex justify-center">
    <!-- Về sau thay này thành category của từng mục sản phẩm -->
<div id="catergory">
         {ProductsCol.map((product) => 
                <ul class="inline-block flex-wrap flex" >
                {product.data.tags.map((tag) =>
                    <li class=" m-1 flex flex-col inline-block flex-wrap">
                        <a href={`/products/${product.id}`}>
                            {tag}
                        </a>
                    </li>
                )}
               </ul> 
            )
        }
</div>   
</div>

<style>
    #cater-container {
        padding-bottom: 1.5rem;
    }
    #catergory {
        width: 1440px;
        max-width: 100%;
    }
    li {
        text-align: center;
        background-color: brown;
        transition: all .35s;
        color: #fff;
        font-size: 1.5rem !important;
    }
    li:hover {
        background-color: rgb(204, 131, 131);
    }
</style>