---
import { BadgeCentIcon, BaggageClaim, MessageCircleMore } from "@lucide/astro"

import ImgCTam from '../assets/salers/ctam.png';
import ImgCTruyen from '../assets/salers/ctruyen.png';
import ImgThu from '../assets/salers/thu.png';
---
<footer >
<div class="flex flex-col" id="container-footer">
    <!-- Top bar -->
    <div class="bg-sky-50 w-[1440px] max-w-full grid grid-cols-7 gap-2">
        <div class="bg-amber-400 col-span-3">
            <div class="flex content-center p-3 bg-linear-65 from-red-800 to-red-700 m-2 rounded-xl border-2 border-solid border-orange-200">
                <BaggageClaim class="inline-block h-auto text-white" size={52} />
                    
                <h5 style="" class="pl-2 text-3xl inline-block self-center text-white">
                    INBOX NGAY
                </h5>
            </div>

            <ul class=" block hotline">
                <div>
                    <a>📞 Hotline KD:</a>
                </div>
                <li>
                    <img src={ImgCTam.src} width="52px" style="display: inline">
                    <a>Hotline: </a>
                    <a id="link-social" href="https://zalo.me/0706371048">0706 371 048</a>
                </li>
                <li>
                    <img src="../ico-footer/zalo.png" width="22px" style="display: inline">
                    <a>Hotline: </a><a id="link-social" href="https://zalo.me/0847547776">0847 547 776</a>
                </li>
                <li>
                    <img src="../ico-footer/zalo.png" width="22px" style="display: inline">
                    <a>Hotline: </a><a id="link-social" href="https://zalo.me/0901036457">0901 036 457</a>
                </li>
            </ul>
        </div>
        <div class="bg-amber-400 col-span-2">
            <div class="py-12 address">
                <a>📍 Địa chỉ: KDC Hoàng Phát, Số 6, Đường Huỳnh Thị Đê, Phường Bạc Liêu
                </a>
            </div>
        </div>
        <div class="bg-amber-400 col-span-2">
            <ul class="py-8 social">
                <li>
                    <img src="../ico-footer/facebook.png" width="22px" style="display: inline">
                    <a>Fanpage: In ấn bao bì Cần Thơ
                    </a>
                </li>
                <li>
                    <img src="../ico-footer/tik-tok.png" width="22px" style="display: inline">
                    <a>Tiktok: </a><a id="link-social" href="https://www.tiktok.com/@locphat1210?is_from_webapp=1&sender_device=">Good in ấn bao bì Cần Thơ</a>
                        </li>
                        <li>
                        <img src="../ico-footer/shopee.png" width="22px" style="display: inline">
                         <a>Shopee: </a><a id="link-social" href="https://vn.shp.ee/NBJcLCE">Good - In ấn bao bì</a>
                        </li>
                        <li>
                        <img src="../ico-footer/shopee.png" width="22px" style="display: inline">
                         <a>Shopee: </a><a id="link-social" href="https://vn.shp.ee/PCXxUHn">LỘC PHÁT - BAO BÌ BẠC LIÊU</a>
                        </li>
                        <li>
                        <img src="../ico-footer/shopee.png" width="22px" style="display: inline">
                         <a>Shopee: </a><a id="link-social" href="https://vn.shp.ee/sECwMnF">bao bì - túi giấy</a>
                        </li>
                        <li>
                        <img src="../ico-footer/zalo.png" width="22px" style="display: inline">
                         <a>Tham gia ngay </a><a id="link-social" href="https://zalo.me/g/dztqfp388">nhóm khách sỉ nhận ưu đãi</a>
                        </li>
                    </ul>
            </div>
        </div> 

</div>


</footer>

<style>
    footer {
        bottom: 0;
    }
    card {
        width: 55px;
    }
    /*Strip the ul of padding and list styling*/
    ul {
        list-style-type:none;
    }
    /*Create a horizontal list with spacing*/
    li {
        float: left;
    }
    #container-footer {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		align-items: center;
	}
    .social {
        border-color: aquamarine;
    }
    .social > li,  {
        padding: 5px;
        display: inline-block;
    }
    .social > li > p {
        color: aliceblue;
        
        font-size: 1.3rem !important;
    }
    .social > li > a{
        color: aliceblue;
        
        font-size: 1.3rem !important;
    }
    #link-social {
        color: darkcyan;
    }
    .address a, .hotline a {
        color: aliceblue;
        
        font-size: 1.3rem !important;
    }
</style>