---
import Menu from "./Menu.astro"
---
<div class="flex-col max-w-10/10" id="container-head">

    <div id="header" class="flex-col items-center">
        <!-- Top bar -->
            <div class="header">
                <ul class="flex justify-end place-items-center">
                    <li class="block items-center justify-center pr-5">
                        Hotline KD: <div id="link-social" class="inline-block"><a href="https://zalo.me/0706371048" target="_blank">0706 371 048</a></div> – <div id="link-social" class="inline-block"><a target="_blank" href="https://zalo.me/0847547776">0847 547 776</a></div> – <div id="link-social" class="inline-block"><a target="_blank" href="https://zalo.me/0901036457">0901 036 457</a></div>
                        | CSKH: <div id="link-social" class="inline-block"><a target="_blank" href="https://zalo.me/0907335245"></a>0907 335 245</a></div>
                    </li>
                    <li class="block items-center justify-center px-5 bg-linear-95 from-red-400 to-red-200 rounded-2xl border-1 border-solid border-orange-200 w-fit float-left flex flex-row"><a href="/about" class="text-xl my-1 mx-2">Về chúng tôi (GOOD)!</a></li>
                </ul>
            </div>

                <div class="bg-[#78172220] menu-header grid grid-cols-7 place-items-center">

                        <!-- Tiêu đề logo -->
                        <a href="/" class="p-4 col-span-1">
                                <img src="/good.png" width="200px" >
                        </a>

                        <!-- menu-header -->
                        <div id="div-search" class="justify-items-end w-[100%] col-span-4 place-content-center h-auto">
                            <!-- Thanh tìm kiếm -->
                            <input class="rounded-xl" id="MenuSearch" type="text" placeholder="Tìm ấn phẩm"> 
                        </div>
                            
                        <div class="content-center grid grid-cols-2 gap-2 col-span-2">
                            <card class="items-center p-5 col-span1">
                                Bảo mật thông tin an toàn
                            </card>
                            <card class="items-center p-5 col-span-1">
                                Đảm bảo 100% hài lòng
                            </card>
                        </div>
                </div> 
    </div>

    <Menu />

</div>


<style>
    #div-search {
        margin-left: 15px;
        margin-right: 15px;
    }
    card {
        width: 125px;
    }
    #MenuSearch[type=text] {
    float: right;
    padding: 8px;
    padding-left: 16px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background-color: aliceblue;
    margin: 10px;
    
    right: 0;
    max-lines: 1;
    height: 2.5rem;
    width: 350px;
    }
    
    #header{
        display: flex;
        justify-content: center;
    }
    .header {
        background-color: #11060c;
        padding: 5px;
        width: 1440px;
        max-width: 100%;
        color: aliceblue;
    }
    .menu-header {
        width: 1440px;
        max-width: 100%;
    }
    /*Strip the ul of padding and list styling*/
    ul {
        list-style-type:none;
        margin:0;
        padding:0;
    }
    /*Create a horizontal list with spacing*/
    li {
        padding-left: 5px;
        padding-right: 5px;
        float: left;
        margin-right: 1px;
        font-size: 1.rem;
        height: 100%;
    }
    ul li {
        height: 100%;
    }
    #container-head {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		align-items: center;
	}
    #link-social {
        transition: all .55s;
    }
    #link-social:hover {
        -ms-transform: scale(3.45);
            /* IE 9 */
        -webkit-transform: scale(1.125);
            /* Safari 3-8 */
        transform: scale(1.125);
        cursor: pointer;
        color: #781722;
        background-color: #dfb4b9;
        padding: 3pt;
        border-radius: 8px;
    }
</style>