<!-- Main Menu -->
     <div class="flex flex-col items-center">
            <div id="Menu" class="items-center  shadow-xl">
                <ul class="flex items-start">
                    <li id="Menu-items"><a href="/">Trang chủ</a></li>
                    <ul id="Menu-items" class="drophover">
                        <a href="/products">Túi giấy Kraft <span class="abslute w-full h-full" ></span></a>
                        <ul class="dropdown">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="">TÚI GIẤY KRAFT IN THEO YÊU CẦU</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="">TÚI GIẤY KRAFT CÓ SẴN</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="">COMBO HỘP TÚI THEO CHỦ ĐỀ</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="">TÚI GIẤY CAO CẤP C250</a></li>
                        </ul>
                    </ul>
                    <ul id="Menu-items" class="drophover">
                        <a href="/products">Hợp đồng đào tạo nghề</a>
                        <ul class="dropdown">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">BỌC NILON</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">BỌC ÉP QUAI</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">TÚI NIÊM PHONG</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">BỌC TỰ HỦY</a></li>
                        </ul>
                    </ul>
                    <ul id="Menu-items" class="drophover">
                        <a href="/products">Thiệp</a>
                        <ul class="dropdown">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">THIỆP SINH NHẬT</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">THIỆP THÔI NÔI</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">THIỆP TÂN GIA</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">THIỆP CƯỚI</a></li>
                        </ul>
                    </ul>
                    <ul id="Menu-items" class="drophover">
                        <a href="/products">Decal - tem dán</a>
                        <ul class="dropdown">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">TEM DECAL BÓNG</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">TEM VỠ BẢO HÀNH</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">TEM BẾ HÌNH THEO YÊU CẦU</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">THIỆP CƯỚI</a></li>
                        </ul>
                    </ul>
                    <ul id="Menu-items" class="drophover">
                        <a href="/products">Hóa đơn</a>
                        <ul class="dropdown">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">HÓA ĐƠN</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">DANH THIẾP</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">VOUCHER</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">TAG TRE0</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">TỜI RƠI</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">PHIẾU SHIP HÀNG</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">BẢNG GIÁ</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">BẰNG - HỢP ĐỒNG</a></li>
                        </ul>
                    </ul>
                    <ul id="Menu-items" class="drophover overflow-hidden">
                        <a href="/products">Sổ</a>
                        <ul class="dropdown overflow-hidden">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">SỔ BIÊN NHẬN</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">SỔ HỤI</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">SỔ BÁN HÀNG</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">SỔ THU CHI</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">SỔ NHẬP XUẤT HÀNG HÓA</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">SỔ VAY TIỀN</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">THEO DÕI KHÁCH HÀNG</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">SỔ CHẤM CÔNG</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">SỔ THU TIỀN TRỌ</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">SỔ HỢP ĐỒNG CƯỚI</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">SỔ LIỆU TRÌNH SPA</a></li>
                        </ul>
                    </ul>
                    <ul id="Menu-items" class="drophover">
                        <a href="/products">Menu</a>
                        <ul class="dropdown">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">MENU TỜ</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">MENU DECAL CHỐNG THẤM NƯỚC</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">MENU ĐÓNG CUỐN - QUYỂN</a></li>
                        </ul>
                    </ul>
                    <ul id="Menu-items" class="drophover">
                        <a href="/products">LOGO - con dấu - bảng hiệu</a>
                        <ul class="dropdown">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">THIẾT KẾ LOGO RIÊNG</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">THIẾT KẾ BẢNG HIỆU</a></li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5"><a href="#">THIẾT KẾ CON DẤU</a></li>
                        </ul>
                    </ul>
                    <li id="Menu-items"><a href="/products">In nhanh</a></li>
                </ul>
            </div> 
            </div>

<style>
    
    #Menu {
        width: 1440px;
        max-width: 100%;
        margin-top: 10px;
        border-radius: 5px;
    }
    #Menu-items {
        padding: 6pt;
        padding-right: 1.5rem;
    }
    #Menu-items a {
            font-size: 1.3rem;
    }
    
    .drophover {
        display: inline-block;
        float: left;
        overflow: auto;
        cursursor: pointer;
    }
    .dropdown {
        display: none;
        z-index: 999;
        cursursor: pointer;
    }
    .drophover:hover {
        background-color: aliceblue;
        transition: .35s, display .45s;
        cursursor: pointer;
    }
    
    .drophover:hover .dropdown{
        margin-top: 7pt;
        margin-left: -7pt;
        display: block;
        overflow: auto;
        position: absolute;
        max-width: 350px;
        background-color: aliceblue;
        padding: 15px;
        border-radius: 5px;
        transition: 0.35s, display .45s;
        cursursor: pointer;
    }
</style>